- if current_user.send("admin?") || current_user.send("designer?")
  %td
    - unless page.role.nil?
      -if current_user.roles.include? page.role
        = page.role.role_name.pluralize
      - else
        %span{:style => "color: #ccc"}= page.role.role_name.pluralize